doctype html
html(lang='en')
	block head
		head
			meta(charset='UTF-8')
			meta(
				name='robots',
				content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1'
			)
			meta(name='viewport', content='width=device-width, initial-scale=1.0')
			title #{ title } - Natours
			meta(name='description', content=title)
			link(rel='canonical', href=url)
			meta(property='og:locale', content='en_US')
			meta(property='og:type', content=type ? type : 'website')
			meta(property='og:title', content=`${title} - Natours`)
			meta(property='og:url', content=url)
			meta(property='og:site_name', content='Natours')
			meta(property='og:image', content=img ? img : 'https://natours-tjap.onrender.com/img/tours/tour-8-cover.jpg')
			meta(property='og:image:width', content='300')
			meta(property='og:image:height', content='300')
			meta(property='og:image:type', content='image/jpg')
			meta(name='twitter:card', content='summary_large_image')
			meta(name='twitter:creator', content='@ClaudiusA')
			meta(name='twitter:site', content='@ClaudiusA')
			meta(name='author', content='Claudius A.')
			meta(
				name='generator',
				content='Powered by adun.studio - Engineering cutting-edge digital solutions for brands & agencies'
			)
			link(rel='icon', href='/img/favicon.png', type='image/png')
			link(rel='stylesheet', href='/css/style.css', media='all')
			link(rel='stylesheet', href='/fonts/font.css')

	body
		//- HEADER
		include partials/_header

	//- CONTENT
	main.main(data-alert=alert ? alert : '')
		block content
			h1 This is a placeholder heading

	//- FOOTER
	include partials/_footer
	script(src='/js/app.js')
